[submodule "auction_bidding_frontend"]
	path = auction_bidding_frontend
	url = https://github.com/jainendra001/live_bidding_frontend.git
[submodule "auction_bidding_backend"]
	path = auction_bidding_backend
	url = https://github.com/jainendra001/live_bidding_backend
