services:
  backend:
    build: ./auction_bidding_backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    
  frontend:
    build: ./auction_bidding_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:3000